*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
    font-size: 15px;
    text-transform: uppercase;
   color: gray;
   padding: 10px 0px;
   background-color: rgb(245, 245, 245);
   border-top: 1px solid gray ;
}
p{
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    color: rgb(94, 90, 90);
}
.main-js{
    display: flex;
    gap: 10px;
}
.main-js2{
    display: flex;
    font-size: 15px;
}
.container{
    max-height: 200px;
    overflow-y: auto; 
    overflow-x: hidden; 
    display: block; 
    scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
    display: none;              
}