<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="container">
        <h1>Featured In</h1>
        <div class="scroll-container">
  <div class="scroll-content" id="cardRow">
    <div class="card">
      <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/toi.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
         <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/fin-exp.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/eco-times.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/invezz.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/ind-exp.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/yourstory.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/outlook-biz.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
         <img height="auto" width="60px" src="https://prod-static-assets.amberstudent.com/images/featured-in/cnbc.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/toi.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/fin-exp.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
         <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/eco-times.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/invezz.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/ind-exp.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
  
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/yourstory.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/featured-in/outlook-biz.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="60px" src="https://prod-static-assets.amberstudent.com/images/featured-in/cnbc.png" data-testid="" class="Image-module__animateOpacity featuredIn-module__logo Image-module__show" aria-hidden="true">
    </div>
  </div>
    </div>
</div>
</body>
</html>

