<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <h1>Popular Cities Across the Globe</h1>
  <p>Book student accommodations near top cities and universities around the world.</p>
  </div> 
    

  <div class="hotel">
      <div class="country">
            <button onclick="showCountry('uk')"><img height="18" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-uk.svg" >  United Kingdom</button>
            <button onclick="showCountry('aus')"><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-aus.svg" >  Australia</button>
            <button onclick="showCountry('ire')"><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-ire.svg" >  Ireland</button>
    
      </div>
      

      
    <div class="uk">
       <div class="carousel-wrapper ">
       <div class="carousel">
        <div class="row">
           <div class="card1"><p class="text-box">London</p></div>
           <div class="card2"><p class="text-box">Leicester</p></div>
        <div class="card3"><p class="text-box">Liverpool</p></div>
        <div class="card4"><p class="text-box">Sheffield</p></div>
        <div class="card5"><p class="text-box">Newcastle Upon Tyne</p></div>
        <div class="card6"><p class="text-box">Caediff</p></div>
        <div class="card7"><p class="text-box">Ediburgh</p></div>
        <div class="card8"><p class="text-box">plymouth</p></div>
        <div class="card9"><p class="text-box">Chester</p></div>
        <div class="card10"><p class="text-box">Exter</p></div>
      </div>
      <div class="row">
        <div class="card11"><p class="text-box">Birmingham</p></div>
        <div class="card12"><p class="text-box">Nottingham</p></div>
        <div class="card13"><p class="text-box">Coventry</p></div>
        <div class="card14"><p class="text-box">Leeds</p></div>
        <div class="card15"><p class="text-box">Manchester</p></div>
        <div class="card16"><p class="text-box">Swansea</p></div>
        <div class="card17"><p class="text-box">Salford</p></div>
        <div class="card18"><p class="text-box">Aberdeen</p></div>
        <div class="card19"><p class="text-box">Lincoln</p></div>
      </div>
    </div>
  </div>
  </div>
  
  

  
  </div>
</body></html>

 -->
