


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Trust Section</title>
  
</head>
<body>

<div class="trust">
  <h1>Trust of 1 Million+ students</h1>
  <div class="bmw">
    <div class="reviews">
      <span class="tp-widget-number__copy" id="businessEntity-numberOfReviews-total">
        <span class="number">6.5K</span>
        <span class="text">reviews</span>
      </span>
    </div>
    <div class="logo">
      <img alt="Trustpilot reviews" width="80" src="https://cdn.trustpilot.net/brand-assets/4.3.0/logo-white.svg">
    </div>
  </div>
</div>

<div class="nav">
  
  <a href="#card1"> </a>
    <a href="#card2"></a>
  <a href="#card3"></a>
  <a href="#card4"></a>
  <a href="#card4"></a>
</div>

  <div class="carousel-wrapper">
    <div class="card-container">
      <div class="card" id="card1">
        <p class="para">
          Amber was very helpful and guided me till 
          completion of my booking process on time</p>
          <div class="india">
          <img height="32" width="32" src="https://prod-static-assets.amberstudent.com/images/in_flag.svg?auto=format&amp;trim=auto" data-testid="homepage-tp-user-image" class="Image-module__animateOpacity Image-module__show" aria-hidden="true">
          <div class="india-para">
              <p class="india-para1">Neelesh Pawar</p>
              <p class="india-para2" >Cardiff University</p>
          </div>
            </div>
          
    </div>
    <div class="card" id="card1">
      <p class="para">
        Amber was very helpful and guided me till 
        completion of my booking process on time</p>
         <div class="india">
         <img height="32" width="32" src="https://prod-static-assets.amberstudent.com/images/in_flag.svg?auto=format&amp;trim=auto" data-testid="homepage-tp-user-image" class="Image-module__animateOpacity Image-module__show" aria-hidden="true">
         <div class="india-para">
            <p class="india-para1">Anusha Suresh</p>
            <p class="india-para2" >Cardiff University</p>
         </div>
          </div>
        </div>

     <div class="card" id="card3">
      <p class="para">
        It was really a great experience. Thank you for 
        your help in booking my accommodation.</p>
         <div class="india">
         <img height="32" width="32" src="https://prod-static-assets.amberstudent.com/images/in_flag.svg?auto=format&amp;trim=auto" data-testid="homepage-tp-user-image" class="Image-module__animateOpacity Image-module__show" aria-hidden="true">
         <div class="india-para">
            <p class="india-para1">Ezhilarasi</p>
            <p class="india-para2">University london</p>
         </div>
          </div>
         </div>

    <div class="card" id="card1">
      <p class="para">
        Amber was very helpful and guided me till 
        completion of my booking process on time</p>
         <div class="india">
         <img height="32" width="32" src="https://prod-static-assets.amberstudent.com/images/in_flag.svg?auto=format&amp;trim=auto" data-testid="homepage-tp-user-image" class="Image-module__animateOpacity Image-module__show" aria-hidden="true">
         <div class="india-para">
            <p class="india-para1">Anugrah N M</p>
            <p class="india-para2" >Cardiff University</p>
         </div>
          </div>
         </div>
 <div class="card" id="card">
      <p class="para">
        One of the smoothest websites in terms of 
        finding the accomodation and booking.
         Highly recommend.</p>
         <div class="india">
         <img height="32" width="32" src="https://prod-static-assets.amberstudent.com/images/in_flag.svg?auto=format&amp;trim=auto" data-testid="homepage-tp-user-image" class="Image-module__animateOpacity Image-module__show" aria-hidden="true">
         <div class="india-para">
            <p class="india-para1">Vaishnavi</p>
            <p class="india-para2" >Cardiff University</p>
         </div>
          </div>
    </div> 
    </div>
  
</div>

</body>
</html>
