<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="h1-1">Book your Perfect Accommodation</h1>
    <p class="para-1"> Take the hassle out of securing your student home for the best years of your life</p>
<div class="mycomponrnt">
    <div class="card-1">
             <img height="46" width="46" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/fast-and-easy-bookings-insight.svg">
            <h1 class="h1">Instant & Easy Bookings</h1>
            <p>Time is money. Save both when </p>
               <p>you book with us.</p>
        </div>
        <div class="card-2">
             <img height="46" width="46" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/expert-assistance-insight.svg">
            <h1 class="h1">Lowest Price Guarantee</h1>
            <p>Find a lower price and we'll match </p>
               <p>it. No questions asked.. </p>
        </div>
        <div class="card-3">
             <img height="46" width="46" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/verified-listings-insight.svg">
            <h1 class="h1" >24x7 Assistance</h1>
            <p>If you have a doubt or a query,</p> 
            <p>we’re always a call away..</p>
        </div>
        <div class="card-4">
             <!-- <img height="46" width="46" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/verified-listings-insight.svg"> -->
              <img height="46" width="46" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/price-match-guarantee-insight.svg" data-testid="" class="Image-module__animateOpacity Image-module__show" aria-hidden="true">
            <h1 class="h1">100% Verified Listings</h1>
            <p>We promise to deliver what you</p> 
            <p>see on the website..</p>
              
        </div>
      </div>
    </body>
</html>

