<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We have the best partners</title>
</head>
<body>
     <div class="container">
        <h1 class="title">We Have The Best Partners</h1>
<div class="scroll-container">
  <div class="scroll-content" id="cardRow">
    <div class="card">
    <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/torrens_uni.png" >
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/bimm_uni.png">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/Niagara_uni.png">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/westminster_uni.png">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/schiller_uni.png">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/uws_uni.png">
    </div>
    <div class="card">
        <img height="auto" width="50px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/law_uni.png">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/into_uni.png">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/ue_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/jamescook_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/birmingham_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/lc_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/medicine_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
  
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/torrens_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/Niagara_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/westminster_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/schiller_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/uws_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="50px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/law_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
    <div class="card">
        <img height="auto" width="120px" src="https://prod-static-assets.amberstudent.com/images/partner-logos/into_uni.png" data-testid="" class="Image-module__animateOpacity bestPartners-module__logo Image-module__show" aria-hidden="true">
    </div>
  </div>
</div></div>
     
</body>
</html>
