<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

<body>
<div>
    <nav>
      <app-navbar></app-navbar>
     <app-home></app-home>
      <app-page1></app-page1>
     <app-about></app-about>
 <div class="container">
  <h1>Popular Cities Across the Globe</h1>
  <p>Book student accommodations near top cities and universities around the world.</p>
 <div class="country">
    <button (click)="showCountry('uk')"><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-uk.svg">  United Kingdom</button>
    <button (click)="showCountry('aus')"><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-aus.svg">  Australia</button>
    <button (click)="showCountry('ire')"><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-ire.svg">  Ireland</button>
    <button><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-us.svg">  United States</button>
    <button><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-can.svg">  Canada</button>
    <button><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-ger.svg">  Germany</button>
    <button><img height="16" width="16" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/flag-esp.svg">  spain</button>
  </div>
  <app-uk *ngIf="selectedCountry === 'uk'"></app-uk>
  <app-aus *ngIf="selectedCountry === 'aus'"></app-aus>
  <app-ire *ngIf="selectedCountry === 'ire'"></app-ire>
</div>

  
  
 <app-mycomponent></app-mycomponent>
   
 <div class="Book-your-Perfect-Accommodation">
    <h1>Thousands of Properties Globally</h1>
    <p>From studios to private rooms to shared apartments, we've got it all.</p>

    <div class="country">
      <button (click)="showCountry('uk')">London</button>
      <button (click)="showCountry('birmingham')">Birmingham</button>
      <button (click)="showCountry('edinburgh')">Edinburgh</button>
      <button>Bangor</button>
      <button>Manchester</button>
      <button>Nottingham</button>
      <button>Leeds</button>
      <button>Coventry</button>
      <button>Bristol</button>
      <button>Newcastle Upon Tyne</button>
      <button>Cardiff</button>
      <button>Plymouth</button>
      <button>Chester</button>
      <button>Newcastle-under-Lyme</button>
      <button>Guildford</button>
      <button>Belfast</button>
      </div>
     <app-london *ngIf="selectedCountry === 'uk'"></app-london>
     <app-birmingham *ngIf="selectedCountry === 'birmingham'"></app-birmingham>
     <app-edinburgh *ngIf="selectedCountry === 'edinburgh'"></app-edinburgh>
 </div>

<app-trust></app-trust>
<app-mycomponent2></app-mycomponent2>
<app-book></app-book>
<app-card9></app-card9>
<app-card10></app-card10>
<app-card11></app-card11>
<app-card12></app-card12>

<div class="card13">
<h1 class="max">Hundreds of Cities Around the World</h1>
<div class="ktm ">
  <div class="cities">
    <h5 (click)="showCountry('uk')">Cities</h5> 
  </div>
<div class="cities">
    <h6 (click)="showCountry('country')">Countries</h6> 
  </div>
</div>
  <div class="toc">
    <app-cities *ngIf="selectedCountry === 'uk'"></app-cities>
    <app-country *ngIf="selectedCountry=='country'"></app-country>
</div>
</div>
<app-card13></app-card13>
<app-footer></app-footer>

</nav></div></body>



