<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amber Referral Program and Offers</title>
</head>
<body>
    <h1>Amber Referral Program and Offers</h1>
    <p>Several promotions, deals and special offers crafted just for you.</p>
 
<div class="slider-wrapper">

    <div class="card">
    <p class="para1">Win £50 in just a few steps!</p>
    <p class="para2" >Refer a friend and earn your reward</p>
    <p class="para3">Turn connections into rewards.</p>
    <p class="para4">Get credited after successful booking.</p>
   <div role="button" class="Ripple-module__container" tabindex="0" data-testid="tab">Refer Now</div>
    </div>

    <div class="card1">
        <p class="para1"> Amberscholar 2025 Edition is Here!</p>
    <p class="para3">Win upto $12,000 & study in the UK, </p>
    <p class="para4">USA, Canada, or Ireland.</p>
   <div role="button" class="Ripple-module__container1" tabindex="0" data-testid="tab">Refer Now</div>
    </div>

    <div class="card2">
        <p class="para1">Save up to £300 with amber+ </p>
    <p class="para3">Get exclusive discounts from 150+ trusted </p>
    <p class="para4">partners at this one-stop student platform</p>
   <div role="button" class="Ripple-module__container2" tabindex="0" data-testid="tab">Refer Now</div>
</div>


    <div class="card3">
        <p class="para1">Get additional £20 cashback on your </p>
    <p class="para2" >booking!</p>
    <p class="para3">ook your student accommodation via the amber </p>
    <p class="para4">app to avail this offer!</p>
   <div role="button" class="Ripple-module__container3" tabindex="0" data-testid="tab">Refer Now</div>
</div>
  </div>




</body>
</html>

