<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="title">
            <p class="intel"> Categories</p>
            <div class="box">
            <p class="home">Home  >  </p>
            <p class="Dashboard">Customers</p>
            </div>
        </div>
<div class="room-section">
     
 

  <div class="row-header">
    <h3> Room Variety</h3>
    <div class="btn-group">
      <button (click)="toggleEnabled(true)" [disabled]="isEnabled">Enable All</button>
      <button (click)="toggleEnabled(false)" [disabled]="!isEnabled">Disable All</button>
    </div>
  </div>
</div>

<table>
  <tr *ngFor="let cat of categories">
    <td>{{ cat.n }}</td>
    <td>{{ cat.d }}</td>
    <td>
      <button class="btn" [disabled]="!isEnabled" [class.active]="isCategoryEnabled(cat.n)" (click)="setCategoryStatus(cat.n, true)">Enable</button>
      <button class="btn"  [disabled]="!isEnabled" [class.active]="!isCategoryEnabled(cat.n)" (click)="setCategoryStatus(cat.n, false)"> Disable</button>
    </td>
  </tr>
</table>

</body>
</html>
