<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="room-section">
  <div class="row-header">
    <h3> Room Variety</h3>
    <div class="btn-group">
      <button (click)="toggleEnabled(true)" [disabled]="isEnabled">Enable All</button>
      <button (click)="toggleEnabled(false)" [disabled]="!isEnabled">Disable All</button>
    </div>
  </div>
</div>

<table>
  <tr *ngFor="let cat of categories">
    <td>{{ cat.n }}</td>
    <td>{{ cat.d }}</td>
    <td>
      <button class="btn" [disabled]="!isEnabled" [class.active]="isCategoryEnabled(cat.n)" (click)="setCategoryStatus(cat.n, true)">Enable</button>
      <button class="btn"  [disabled]="!isEnabled" [class.active]="!isCategoryEnabled(cat.n)" (click)="setCategoryStatus(cat.n, false)"> Disable</button>
    </td>
  </tr>
</table>

</body>
</html>
