body{
    
    padding: 0px 540px;
    height: 610px;
    position: absolute;
    left: 20%;
    top: 0%;
    padding: 0px 540px;
    left: 20%;
    top: 0%;
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: white;
    margin: 0px 0px 20% 0px;
    height: 100vh;
    width: 80%;
    overflow-y: auto;  
    scrollbar-width: none; 
    -ms-overflow-style: none;
     font-family: 'Poppins', sans-serif;
     scrollbar-width: none;
}


body {
  background-color: #f5f5f5;
  padding: 20px;
}

.room-section {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-header h3 {
  margin: 0;
  font-size: 18px;

}

.btn-group button {
  padding: 6px 12px;
  margin-left: 5px;
  background-color: #337ab7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-group button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

table th, table td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.btn {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  border-radius: 3px;
}

.btn.active {
  background-color: #5cb85c;
  color: white;
  border-color: #4cae4c;
}

.btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.title{
  display: flex;
  border-bottom: 1px solid rgb(197, 195, 195);
 }
.box{
  display: flex;
  padding: 45px 0px 0px 20px ;
  font-size: 13px;
}.box:hover{ color: red;}
h2{
  font-weight: 400;
}
 .pice-009{
  display: flex;
  gap: 10px;
  margin: 20px 0px 0px 60%;
  padding: 0px 0px 10px 0px;
 }
 .refresh{
  border: 1px solid rgb(194, 190, 190);
  background-color: white;
  padding: 0px 2px 0px 2px;
  border-radius: 5px;
 }
 
 .intel{
  font-weight: 100;
  font-size: 35px;
  color: rgb(114, 108, 108);
  padding: 20px 0px 0px 0px;
}