
body {
  font-family: 'Inter', sans-serif;
  background-color: black;
  
}
*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box;
  overflow: hidden; */
}
body{
  background-color: rgb(245, 245, 245);
  
}

h1{
  font-size: 24px;
  font-weight: 700;
  padding-top: 70px;
}
button{
  border: 1px solid rgb(231, 229, 229);
    margin: 10px 0px 10px 15px ;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
    background-color: white;
    color: gray;

}
.country{
  padding-left: 0px;
  margin-top: 100px;
}
img{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 3px 0px;
}

button:hover {
  background-color: rgba(236, 101, 101, 0.226);
  border: 1px solid red;
}




 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      padding-left: 0px;
    }

    .country {
     margin: 20px 0px;
     padding: 0px 0px 0px 0px;
    }

  

    .carousel-wrapper {
      overflow-x: auto;
      white-space: nowrap;
      padding: 20px;
    }


    .carousel {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: max-content;
    }

    .row {
      
      gap: 30px;
      padding: 10px 0px;
    }
    .text-box{
      padding: 90% 0px 0px 0px;
      color: white;
      font-size: 15px;
     font-weight: 700;
    }

    .country {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none; 
    gap: 5px;
    padding: 0px 0px;
  }

  .country::-webkit-scrollbar {
    display: none; 
  }

  .country button {
  white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-style: inherit;
  }
  p{
    padding-top: 5px;
    color: gray;
    font-style: inherit;
  }

  .Book-your-Perfect-Accommodation{
    padding: 0px 80px;
    background-color: white;
  }
  .card13{
    width: 100%;
    height: 220px;
    background-color: white;
    padding: 0px 0px 0px 88px;
  }
  .max{
    padding: 40px 0px;
    font-size: 25x;
    font-weight: 700;
  }
  h5{
    color: #555 !important;
     text-align: center;
    font-size: 14px;
    padding: 0px 10px 0px 0px;
    font-family: inherit;
    font-weight: 550;
  }
    h5:hover{
    border-bottom: 2px solid #e63946;
    width: 80%;
    
  }
  h6{
    color: #555 !important;
    text-align: center;
    font-size: 14px;
    padding: 0px 30px 0px 0px;
    font-family: inherit;
    font-weight: 550
  } h6:hover{
    border-bottom: 2px solid #e63946;
   width: 60%;
  }
 .ktm{
  display: flex;
  border-bottom: 1px solid rgb(204, 201, 201);
  width: 90%;
 } 
@media screen and (max-width: 768px){
  body{width: 100%;}
  h1{font-size: 20px; padding: 0px 0px 0px 40px ;}
   p{font-size: 14px;padding: 0px 0px 0px 40px ; display: none;}
}