<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="row-one">
        <p>London</p>
        <p>Glagow</p>
        <p>Coventry</p>
        <p>Birmingham</p>
        <p>Nottingham</p>
        <p>Sheffield</p>
        <p>Manchester</p>
        <p>Edinburgh</p>
        <p>Leicester</p>
        <p>Cardiff</p>
        <p>Leeds</p>
        <p>Newcastle</p>
        <p>Aderdeen</p>
        <p>Portsmouth</p>
        <p>cambridge</p>
        <p>Oxford</p>
        <p>Southampton</p>
        <p>Exeter</p>
        <p>Borenemouth</p>
        <p>Belfast</p>
        <p>Bristol</p>
        <p>Centerbury</p>
        <p>Dublin</p>
        <p>Swansea</p>
        <p>Loughborougt</p>
        <p>Brighton</p>
        <p>Derby</p>
        <p>Hatfield</p>
    </div>
    <div class="row-2">
        <p>Lincoln</p>
        <p>Luton</p>
        <p>Plymouth</p>
        <p>Dallas</p>
        <p>Cork</p>
        <p>Melbourne</p>
        <p>Sydney</p>
        <p>Adelaide</p>
        <p>Brisbane</p>
        <p>Canberra</p>
        <p>Gold Coast</p>
        <p>Perth</p>
        <p>Ann Arbor</p>
        <p>Atlanta</p>
        <p>Austin</p>
        <p>Champaign</p>
        <p>Houston</p>
        <p>Los Angeles</p>
        <p>Lubbook</p>
        <p>Miami</p>
        <p>New York</p>
        <p>Philadelphia</p>
        <p>San Francisco</p>
        <p>Seattle</p>
        <p>Tampa</p>
        <p>Washington DC</p>
    </div>
    </div>
</body>
</html>
