<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registered Customers</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="registerconstmer.component.css"/>
</head>
<body>

  <div class="title">
    <p class="intel">Customers</p>
       <div class="box" >
          <p class="home">Home ></p>
          <p class="Dashboard">Customers</p>
       </div>

    <div class="gooo009">
      <div class="tooltip-container">
           <button class="icon-button" (click)="deleteSelectedUsers()" [disabled]="selectedUsers.length === 0">
             <img src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" width="24" height="24" alt="Delete"/>
           </button>
           <div class="tooltip">Delete</div>
      </div>
    </div> 

  <div class="formet">
   <div class="excel-sheet">
    <div class="tooltip-container">
      
      <button (click)="exportToExcel()">
        <img src="https://cdn-icons-png.flaticon.com/128/732/732220.png" width="24" height="24" alt="Excel" class="img-small">
      </button>
      <div class="tooltip-box">Download Excel</div>
    </div>

    <div class="tooltip-container">
      <button (click)="exportToPDF()">
        <img src="https://cdn-icons-png.flaticon.com/512/4726/4726010.png" width="24" height="24" alt="PDF" class="img-small">
      </button>
      <div class="tooltip-box">Download PDF</div>
    </div>

    <div class="tooltip-container">
      <button (click)="exportToCSV()">
        <img src="https://cdn-icons-png.flaticon.com/512/9159/9159105.png" width="24" height="24" alt="CSV" class="img-small">
      </button>
      <div class="tooltip-box">Download CSV</div>
    </div>
  </div>
</div>

           <div class="add-box" (click)="showCountry('addnewcostmer')">
               <span class="tooltip-text">Add New </span>
              <img src="   https://cdn-icons-png.flaticon.com/512/11461/11461127.png " width="256" height="256" alt="" title="" class="img-small">
           </div>

  </div>
    <app-addnewcostmer *ngIf="showFormOnly" [newUser]="newUser" (onAddUser)="addUser($event)"></app-addnewcostmer>

  <div class="main-layout">
   <div class="table-section"  *ngIf="!showFormOnly">


    <div class="lop-top">
      <div class="top-bar">
        <div class="Customer-list">
        <div class="img">
          <img src="https://cdn-icons-png.flaticon.com/512/151/151917.png" width="12" height="10" class="img-small ms-3"/>
          
          <p class="list">Customer List</p>
        </div>
      </div>
      <div class="boxing">
        <div class="global-search">
          <div class="search-input-wrapper">
            <img src="https://cdn-icons-png.flaticon.com/512/566/566737.png" width="16" height="16" alt="search icon" class="search-icon left-8122"/> |
            <input [(ngModel)]="globalSearchText" placeholder="Search by any field..."/>
          </div>
        </div>
        <div class="pagination-controls">
          <label for="itemsPerPage">Show:</label>
          <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="changePage(1)">
            <option [value]="10">10 per page</option>
            <option [value]="15">15 per page</option>
            <option [value]="20">20 per page</option>
          </select>
        </div>
        </div>
      </div>

      <table>
        <thead>
          <tr>
           <th><input type="checkbox" (change)="toggleAllSelection($event)"/> </th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Registered On</th>
            <th>Update</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers(); let i = index">
            <ng-container *ngIf="editIndex === ((currentPage - 1) * itemsPerPage + i); else viewRow">
              <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td class="input-group-row">
                <input [(ngModel)]="editedUser.firstName" placeholder="First Name" class="table-input"/>
                <input [(ngModel)]="editedUser.lastName" placeholder="Last Name" class="table-input"/>
              </td>
              <td><input [(ngModel)]="editedUser.email" placeholder="Email" class="table-input"/></td>
              <td><input [(ngModel)]="editedUser.phone" placeholder="Phone" class="table-input"/></td>
              <td class="input-group-row">
                <input [(ngModel)]="editedUser.state" placeholder="State" class="table-input"/>
                <input [(ngModel)]="editedUser.country" placeholder="Country" class="table-input"/>
              </td>
              <td>{{ editedUser.date | date: 'short' }}</td>
              <td><button (click)="saveEdit((currentPage - 1) * itemsPerPage + i)">Save</button></td>
              <td><button (click)="cancelEdit()">Cancel</button></td>
            </ng-container>

            <ng-template #viewRow>
               <td>
                 <input type="checkbox" [(ngModel)]="user.selected" (change)="onUserSelectionChange(user)"/>
               </td>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.state }}, {{ user.country }}</td>
                    <td>{{ user.date | date: 'short' }}</td>
                    <td>
                <button class="btn-edit" (click)="startEdit(user, (currentPage - 1) * itemsPerPage + i)">
                  <img src="https://cdn-icons-png.flaticon.com/512/2919/2919551.png" width="24" height="24" alt="Edit Booking"/>
                  <span class="tooltip">Edit</span>
                </button>
              </td>
              <td>
                <button (click)="deleteUser(user)">Delete</button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>

          <div class="pagination-buttons">
              <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
              <span>Page {{ currentPage }} of {{ totalPages().length }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages().length">Next</button>
          </div>
         </div>
        </div>
      </body>
  </html>
    


 
