*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}
.admin{
    width: 100%;
    display: block;
}

 .main-contaner2{
    
  float: right;
   width: 80%;
}
.main-contaner{
      
      
 float: left;
width: 20%;
 background-color: rgb(14, 15, 15);
} 
.dashbord{
    background-color: red;
    height: 630px;
    
    font-family: 'Poppins', sans-serif;
    
}

.logo{
    padding: 20px 0px 10px 20px;
}
.title{
    
    text-align: center;
    font-size: 13px;
     text-transform: uppercase;
    
    padding: 0px 80px 0px 20px;
    font-weight: 700;
    color: white;
}
.modules{
    background: transparent;
    font-size: 8px;
   text-align: center;  
   font-weight: 400;
   border: none;  
   text-transform: uppercase;
   font-family: 'Poppins', sans-serif;
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   cursor: pointer;
   color: #333;
   transition: background 0.3s;
  
   
}.modules:hover{
 
   background-color: rgb(8, 221, 8);
  color: white; 
}
.dashboard-hover-box  {
  display: none;
   transition: background 0.2s;
   padding: 0px 0px 0px 35px;
   margin:0px 0px 0px 0px ;
  
}
.dashboard-module:hover .dashboard-hover-box {
  display: block;
  font-size: 10;
}
.modules:hover  .page-content {
  display: none;
}

.size{
  font-size: 10;
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.modules {
    background: transparent;
  color: white;
  padding: 5px 50px;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  
}


.active-module {
  background-color: rgb(8, 221, 8);
  color: white !important;
}
.component-container {
  animation: pop 0.5s ease-out forwards;
}



.modules,
.active-module {
  transition: background-color 0.3s ease, color 0.3s ease;
}
img{
  padding: 0px 0px 5px 0px;
}

.module-title {
  display: inline-block;
  transition: transform 0.3s ease;
  padding: 0px 0px 0px 10px;
}

.modules.dashboard-module:hover .module-title {
  transform: translateX(6px); 
}












