<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Document</title>
</head>
<body>
  <div class="title">
            <p class="intel"> hotel type</p>
            <div class="cutoff">
            <p class="home">Home >  </p>
            <p class="Dashboard"> hotel type</p>
            </div>
                 <div class="pix-009">
                     <div class="tooltip-container">
                       <img src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" width="24" height="24" alt="Delete Selected"  style="cursor: pointer;" (click)="deleteSelectedHotels()" />
                          <div class="tooltip-box">Delete Selected</div>
                      </div>
   
                       <div class="tooltip-container">
                            <button (click)="exportToExcel()" class="icon-button">
                                 <img src="https://cdn-icons-png.flaticon.com/128/732/732220.png" width="24" height="24" alt="Excel" />
                             </button>
                                <div class="tooltip-box">Download Excel</div>
                         </div>

                         <div class="tooltip-container">
                              <button (click)="exportToPDF()" class="icon-button">
                                  <img src="https://cdn-icons-png.flaticon.com/512/4726/4726010.png" width="24" height="24" alt="PDF" />
                              </button>
                                  <div class="tooltip-box">Download PDF</div>
                          </div>


                           <div class="tooltip-container">
                               <button (click)="exportToCSV()" class="icon-button">
                                   <img src="https://cdn-icons-png.flaticon.com/512/9159/9159105.png" width="24" height="24" alt="CSV" />
                               </button>
                                    <div class="tooltip-box">Download CSV</div>
                             </div>

                             <div class="tooltip-container">
                                    <img src="https://cdn-icons-png.flaticon.com/512/11461/11461127.png" width="26" height="26" alt="Add Hotel" class="img-small" (click)="toggleAddHotelForm()" />
                                       <div class="tooltip-box">Add Hotel</div>
                              </div>
                           </div> 
                        </div>


  <app-addnewroomdetails *ngIf="showAddHotelForm"  [hotel]="selectedHotel"  (hotelAdded)="onHotelAdded($event)"  (hotelUpdated)="onHotelUpdated($event)" (cancelForm)="toggleAddHotelForm()" ></app-addnewroomdetails>


<div class="container" *ngIf="!showAddHotelForm">
  <div class="Customer-list">
           <div class="img">
             <img src="   https://cdn-icons-png.flaticon.com/512/151/151917.png " width="16" height="19"  a class="img-small ms-3">
             <p class="list">Customer List</p>
           </div>
        </div>

<div class="controls-row">
  <div class="search-box">
    <div class="input-with-icon">
      <input  type="text"  placeholder="Search by name or location..."  [(ngModel)]="searchTerm" (input)="applyFilter()"/>
      <img src="https://cdn-icons-png.flaticon.com/512/566/566737.png" width="16" height="18"  alt="search icon" class="search-icon"/>
    </div>
  </div>

  <div class="pagination-dropdown">
    <label for="itemsPerPage">Show:</label>
    <select [(ngModel)]="itemsPerPage" (change)="applyFilter()">
      <option [value]="10">10 per page</option>
      <option [value]="15">15 per page</option>
      <option [value]="20">20 per page</option>
    </select>
  </div>
</div>


        
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>
        <input type="checkbox" [checked]="areAllSelected()" (change)="toggleAllSelection($event)" />
      </th>
          <th>Image</th>
          <th>Hotel Name</th>
          <th>Location</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Room</th>
          <th>BHK</th>
          <th>AC</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of  paginatedHotels; let i = index">
          <ng-container *ngIf="editIndex !== i">
             <td>
          <input type="checkbox" [checked]="isSelected(hotel._id!)" (change)="toggleSelection(hotel._id!)" />
        </td>
            <td>
              <img *ngIf="hotel.imageUrls?.[0]" [src]="hotel.imageUrls[0]" width="60" height="60" style="object-fit: cover;" />
            </td>
            <td>{{ hotel.hotelName }}</td>
            <td>{{ hotel.location }}</td>
            <td>{{ hotel.amount }} {{ hotel.currency }}</td>
            <td>{{ hotel.rating }} ({{ hotel.reviewCount }} reviews)</td>
            <td>{{ hotel.roomDescription }}</td>
            <td>
              <span *ngIf="hotel.bhk2">2BHK </span>
              <span *ngIf="hotel.bhk3">3BHK</span>
            </td>
            <td>
              <span *ngIf="hotel.ac">AC</span>
              <span *ngIf="!hotel.ac && hotel.nonAc">Non-AC</span>
              <span *ngIf="!hotel.ac && !hotel.nonAc">N/A</span>
            </td>
            <td>
            <div class="redhills">
               <div class="tooltip-wrapper">
                     <button class="edit-button" (click)="toggleAddHotelForm(hotel)" title="Edit this hotel">
                          <img src="https://cdn-icons-png.flaticon.com/512/18384/18384300.png" width="26" height="26" alt="Edit" class="img-small">
                     </button>
                          <div class="tooltip-text">Edit</div>
                 </div>

                <div class="delete-button-wrapper">
                       <button class="delete-button" (click)="deleteHotel(hotel._id!, i)" title="Delete this hotel">
                               Delete
                         </button>
                            <div class="tooltip-text">Delete</div>
                 </div>

              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
      <div class="pagination-controls" *ngIf="filteredHotels.length > itemsPerPage">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages() }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
</div>
  </div>



</div>
</body>
</html>


















