<div class="aus">
       <div class="carousel-wrapper ">
       <div class="carousel">
        <div class="row">
           <div class="card1"><p class="text-box">Melbourne</p></div>
           <div class="card2"><p class="text-box">Brisbane</p></div>
        <div class="card3"><p class="text-box">Sydney</p></div>
        <div class="card4"><p class="text-box">Adelaide</p></div>
        <div class="card5"><p class="text-box">perth</p></div>
        </div>
      <div class="row">
        <div class="card6"><p class="text-box">Canberra</p></div>
        <div class="card7"><p class="text-box">Gold Coast</p></div>
        <div class="card8"><p class="text-box">Coffs Harbour</p></div>
        </div>
    </div>
  </div>
  </div>
<!-- <app-card1></app-card1> -->

