<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dash-board">
        <div class="title">
            <p class="intel"> Dash board</p>
            <p class="home">Home ></p>
            <p class="Dashboard">Dashboard</p>

            
        </div>
         <div  class="gow">


        <div class="box">
               <div class="orders">
                <div class="para">TOTAL ROOMS <p class="presatage"></p></div>
                 <div class="img"><img src="   https://cdn-icons-png.flaticon.com/512/1946/1946788.png " width="76" height="56" alt="" title="" class="img-small">
                    <p class="nummber">72</p></div>
               </div>
                  
               
        </div>

        <div class="box2">
               <div class="orders2">
                <div class="para2">TOTAL PROFIT<p class="presatage2"></p></div>
                 <div class="img2"><img src="   https://cdn-icons-png.flaticon.com/512/1013/1013401.png " width="76" height="56" alt="" title="" class="img-small">
                    <p class="nummber2">30%</p></div>
               </div>
    </div>
        


        <div class="box3">
               <div class="orders3">
                <div class="para3">check in<p class="presatage3"></p></div>
                 <div class="img3"><img src="	https://cdn.iconscout.com/icon/premium/png-512-thumb/check-in-7417028-6151278.png?f=webp&w=256" width="76" height="56" alt="" title="" class="img-small">
                    <p class="nummber3">55</p></div>
               </div>
            </div>

            
        <div class="box4">
               <div class="orders4">
                <div class="para4">chek out<p class="presatage4"></p></div>
                 <div class="img4"><img src="	https://cdn.iconscout.com/icon/premium/png-512-thumb/check-out-7417029-6151279.png?f=webp&w=256" width="76" height="56" alt="" title="" class="img-small">
                    <p class="nummber4">17</p></div>
               </div>
               </div>


    </div>

           <div class="map">
            <div class="world-map">
                  <div class="world-para">
                    <img src="	https://cdn.iconscout.com/icon/premium/png-512-thumb/world-map-10658714-8682521.png?f=webp&w=256" width="18" height="18"> <p class="max">World Map</p>
                </div>

                    <div class="country">
                             <img class="js-img-protect container-absolute to-all opacity-zero"  src="https://t4.ftcdn.net/jpg/00/69/68/61/240_F_69686132_hhGgrZGQxReATU3VO1Nqv6VxqPe02MVZ.jpg" alt="Illustration of a Colored map of world">
                    </div>
            </div>

                 <div class="world-map2">
                  <div class="world-para">
                    <img  class="CCC" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/profit-1554331-1317240.png?f=webp&w=256" width="18" height="18"> <p class="max2">Profit  Analytics </p></div>

                    <div class="country2">
                             <img class="js-img-protect container-absolute to-all opacity-zero" src="https://t3.ftcdn.net/jpg/08/13/32/46/240_F_813324621_r2dC6yN1jBFGWroJLac0HDAm4jFMCC4Q.jpg" alt="5 arrows going up business competition profit growth">
                    </div>
            </div>

           </div>
            

             <div class="tap">
                    <div class="https://cdn.iconscout.com/icon/premium/png-512-thumb/history-12139345-9954092.png?f=webp&w=256">
                    
                    </div>
             </div>
                
             <div class="home">
                        <div class="Recent-Activity">
                            <div class="home1">
                                  <img src="	https://cdn.iconscout.com/icon/premium/png-512-thumb/world-map-10658714-8682521.png?f=webp&w=256" width="18" height="18"> <p class="max00">World Map</p>
                            </div>
                            <div class="no-result">
                                        <p class="no-para">No results!</p>
                            </div>
                        </div>
                        <div class="least-otders">
                            <div class="order-aa">
                                  <div class="home2">
                                    <img src="   https://cdn-icons-png.flaticon.com/512/3514/3514491.png " width="18" height="18"><p class="max00">Latest Orders</p></div>
                                    <div class="rx100">
                                        <div class="div">order ID</div>
                                        <div class="div">Customer</div>
                                        <div class="div">Data Added</div>
                                        <div class="div">Total</div>
                                        <div class="div">Action</div>
                                    </div>
                                    <div class="no-result001">
                                        <p class="no-para001">No results!</p>
                            </div>
                            </div>
                        </div>
                </div>
               <div class="fotter">
                                        <div class="myshop">
                                            <div class="namexx"><p class="shop">My Shop</p> 2024-2025 All  Right Reserved</div>
                                            <div class="namexx1">Version 3.0.4.0</div>
                                        </div>
                            </div>
        </div>
</body></html>

 