<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="blue ">
  <div class="mycomponrnt">
    <div class="card-1">
            <div class="card-img-1"><img height="46" width="46" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/homepage-beds.svg"></div>
            <h1 class="h1">1M+ Beds</h1>
            <p>Book your perfect place from an </p>
               <p> extensive list of options.</p>
        </div>
        <div class="card-2">
            <div class="card-img-2"><img height="46" width="46"src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/homepage-universities.svg"></div>
            <h1 class="h1">800+ Universities</h1>
            <p>Find the best student homes near </p>
               <p> prestigious universities.</p>
        </div>
        <div class="card-3">
            <div class="card-img-3"><img height="46" width="46" src="https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/homepage-cities.svg" data-testid="" class="Image-module__animateOpacity insights-module__icon Image-module__show" aria-hidden="true"></div>
            <h1 class="h1" >250+ Global Cities</h1>
            <p>We operate in major cities around the </p> 
            <p>world.</p>
        </div>
        <div class="card-4">
            <div >
              <div class="card-imag-4">
                <img alt="Trustpilot reviews" width="140" src="https://cdn.trustpilot.net/brand-assets/4.3.0/logo-white.svg"></div>
                <h1 class="Trustpilot">Trustpilot</h1>
              </div>
                 <img alt="TrustScore 4.5 out of 5" src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-4.5.svg">
                 <p class="TrustScore">TrustScore 4.7 | 6,471 reviews</p>
        </div>
      </div>
</div>

    </body>
</html>
